###########################
# GERAIS
###########################
# Arquivos de IDEs (Windows, macOS)
[Dd]umb[Pp]atch/
*.log
*.swp
*.bak
*~
*.DS_Store
Thumbs.db

###########################
# BINÁRIOS e SAÍDAS DO BUILD
###########################
# Saídas padrão do .NET (binários e objetos temporários)
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

# Projetos de publicação (deployment)
/publish/
/Publish/
*.publishproj

# Arquivos de pacotes NuGet
*.nupkg
*.snupkg
# Cache de pacote temporário
/**/packages/*.nupkg
# Dependências restauradas (somente se não usar pasta global)
/packages/

###########################
# ARQUIVOS DA SOLUTION
###########################
# Arquivo de usuário da Solution e temporários do Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates

# Arquivos de Resharper/Rider
_ReSharper.*/
*.DotSettings.user
.idea/
.vs/

###########################
# SEUS ARQUIVOS IGNORADOS
###########################
# Ignorados listados no prompt do usuário (geralmente do Rider)
/shelf/
/workspace.xml
/contentModel.xml
/.idea.Debitum.iml
/projectSettingsUpdater.xml
/modules.xml
/httpRequests/
/dataSources/
/dataSources.local.xml

###########################
# CONFIGURAÇÕES (Secrets)
###########################
# Secrets de usuário (gerenciador de segredos do .NET)
**/appsettings.Development.json
**/appsettings.Production.json
appsettings.json.user
**/secrets.json